*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: aqua;
}
.box1{
    color: yellow;
    padding: 10px;
    margin: 25px;
    border: 2px solid brown;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    color: red;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}
/* Margin collaps (The max will only take by css)*/