*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
.box{
    border: 2px solid green;
    color: green;
    padding: 34px;
    margin: 24px auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 5px 15px 5px rgb(244, 137, 37);
}
.text_shadow{
    text-shadow: 10px 5px 5px rgb(147, 3, 149);
    outline: 2px solid black;
    /* outline-offset: 45px; */
    /* box-sizing: border-box; */
}
