*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--body);
}
:root{
    --color: rgb(4, 4, 158);
    --seccolor: rgb(171, 171, 255);
    --textcolor: whitesmoke;
    --body: rgb(250, 224, 168);
}
.nav{
    background-color: var(--color);
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 30px;
    color: var(--textcolor);
    opacity: 0.5;
    /* --border_color: rgb(20, 182, 236);
    border: 2px solid var(--border_color); */
}
ul li:first-child{
    --color: rgb(233, 180, 83);
    --textcolor: rgb(0, 0, 0);
    background-color: var(--color, black);
    color: var(--textcolor);
}
.container{
    background-color: var(--seccolor);
    padding: 5px;
    font-family: cursive;
    font-size: large;
}

